<body>
  <h1> {{title}}  Monolinguo app</h1>
  <router-outlet></router-outlet>
  
  <!-- choose box for difficulty -->
  <div>
<img src="./assets/raccoon_skin.jpg"> 
    <label for="difficulty">Selected difficulty: {{difficultyLevel}}</label>
  <select   [(ngModel)]="difficultyLevel" [value]="difficultyLevel"
  class="choice" name="difficulty" id="id_difficulty">
    <option value="easy">Easy</option>
    <option value="intermediate">Intermediate</option>
    <option value="difficult">Difficult</option>
  </select>

  <label>Select mother tongue</label> 
  <select name ="mother_language" id="mth_id">
  
  </select>
  </div> 
  <div>
    <ul>
      <!-- <li>Username: {{}}</li.> -->
    </ul>
  </div>
  <div>
    <h2>Example Assignment: Correct errors in the sentence</h2>
    <label>{{assignmentText}} </label>
  </div>
  <h1 [innerHTML]="result"></h1>
  <!-- {{}} -->
  <!-- {{name}} -->
<!-- {{answerInput}} -->
  <!-- <input [(ngModel)]="name" #ctrl="ngModel" required> -->
  <textarea [(ngModel)]="answerInput" class ="area" id="textarea1" name="textarea"    rows = "20" cols="50">
<!-- ${this.result} -->
<br>
<br>
<br>
<br>
{{result}}
    <!-- Fill in the submission text:  -->
  <!-- </textarea> -->
  <div >

    <div *ngIf="submission_phase == true">
      <button
      (click) = "clickEvent()" class="btn">Submit answer</button> 
    </div>

    <div *ngIf="submission_phase == false">
      <button
      (click) = "updateAssignment()" class="btn">Next Assignment</button> 
    </div>


<!-- <p class="space"></p> -->
    <button (click) = "clearTextEvent()" class="btn"> Clear Text</button> 
    <!-- <p class="space"></p> -->
    <button (click) ="copyToClipboardEvent()" class="btn"> Copy Text</button>
    <!-- <p class="space"></p> -->

    <button class="btn"></button>
  </div>

</body>
